
/* BIRD CONTAINER */
* {
    margin: 0px;
    padding: 0px;
}

.container {
    /* margin-top: 760px; */
    position: relative;
    height: 100vh;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.bird {
    background-image: url('../images/bird.svg');
    background-size: cover;
    width: 70px;
    height: 100px;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

.bird-one {
    animation-duration: 1s;
    animation-delay: -0.5s;
}
.bird-two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
}
.bird-three {
    animation-duration: 1.4s;
    animation-delay: -0.3s;
}
.bird-four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}
.bird-container {
    position: absolute;
    top: 20%;
    left: -10%;
    transform: scale(0) translateX(-10vh);

     animation-name: flying-bird;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bird-container--one {
    animation-duration: 15s;
    animation-delay: 0s;
}

.bird-container--two {
    animation-duration: 17s;
    animation-delay: 1s;
}

.bird-container--three {
    animation-duration: 14s;
    animation-delay: 9s;
}
.bird-container--four {
    animation-duration: 16s;
    animation-delay: 11s;
}
@keyframes fly-cycle {
    100% {
        background-position: -723px 0px;
    }
}

@keyframes flying-bird {
    0% {
        transform: translateX(-10vw) scale(0.3);
    }
    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }
    20% {
        transform: translateY(0) translateX(30vw) scale(0.5);
    }
    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.6);
    }
    40% {
        transform: translateY(2vh) translateX(70vw) scale(0.6);
    }
    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
    }
    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
}
